.container.top-150
  .row 
    .col-md-8.col-md-offset-2
      .panel
        .panel-heading Edit ignite
        .panel-body
          = render 'form'
          %hr
            %button.btn
              = link_to "Back to ignite page", ignite_path
            %button.btn
              = link_to "Delete ignite", ignite_path(@ignite), method: :delete, data: {confirm: "Are you sure you want to delete this ignite?"}
            %button.btn
              = link_to "Back to Admin page", admin_path