= simple_form_for(@upcoming, html: { class: 'form' })  do |f|
  .form-group
    =f.input :name,  input_html: { class: 'form-control' }, placeholder: "Enter the event's name (eg Ignite Seattle 15)"
    =f.collection_select :event_id, Event.all, :id, :name, prompt: "Choose the Ignite/city"
    =f.input :date,  input_html: { class: 'form-control' }, placeholder: "Enter the event's date (DDMMYYYY)"
  =f.submit class: "btn btn-warning"