.container.top-150
  .row 
    .col-md-8.col-md-offset-2
      .panel
        %h3 Add an upcoming event
        .panel-body
          = render 'form'
          = link_to "Cancel", root_path,  class: "btn btn-default"
  .row
    .col-md-8.col-md-offset-2
      %hr
      %button.btn
        = link_to "Back to Admin page", admin_path