packages:
  yum:
    git: []
    postgresql93-devel: []
  rpm:
    elasticsearch: https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-1.7.2.noarch.rpm

commands:
  01_start_elasticsearch:
    command: "/etc/init.d/elasticsearch start"
    test: '[ ! /etc/init.d/elasticsearch ] && echo "No elasticsearch init file..."'
      
container_commands:
  01_index_searchkick:
    command: "rake searchkick:reindex CLASS=Video"