packages:
  yum:
    git: []
    postgresql93-devel: []
  rpm:
    elasticsearch: https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-1.7.2.noarch.rpm

services: 
  sysvinit:
    elasticsearch:
      enabled: true
      ensureRunning: true

container_commands:
  01_chmod:
    command: "sudo chmod 0664 /var/app/current/log/production.log"
  02_bundle_install:
    command: "bundle install"
  03_index_searchkick:
    command: "rake searchkick:reindex:all"
  04_sitemap:
    command : "rake sitemap:refresh"
