files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/12_add_nginx_configuration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /bin/echo "proxy_buffering on;" > /etc/nginx/conf.d/proxy.conf
      /bin/echo "proxy_buffer_size 128k;" > /etc/nginx/conf.d/proxy.conf
      /bin/echo "proxy_buffers 4 256k;" > /etc/nginx/conf.d/proxy.conf
      /bin/echo "proxy_busy_buffers_size 128k;" > /etc/nginx/conf.d/proxy.conf
      /sbin/service nginx reload