= javascript_include_tag 'jQuery.dataTables.min'

.container
  .row
    .col-md-12
      .admin
        %h1 Admin page
        %h4 Videos
        %ul
        -@videos.each do |video|
          %li= video.title