= simple_form_for(@user, html: { class: 'form' })  do |f|
  .form-group
    %hr
    =f.input :name,  input_html: { class: 'form-control' }, placeholder: "Enter the user's name"
    =f.input :email,  input_html: { class: 'form-control' }, placeholder: "Enter the user's email address"
    =f.input :password,  input_html: { class: 'form-control' }, placeholder: "Enter the user's password"
    %label Choose the user's role
    = f.collection_select :role_id, Role.all, :id, :name, {prompt: "Choose the user's role"}, {class: 'form-control select' }
    %hr
    %label Choose the Ignites that this user can edit
    %br
    = f.collection_check_boxes :event_ids, Event.all.order(:name), :id, :name
  =f.submit class: "btn btn-warning"
  =link_to admin_path do
    %btn.btn.btn-default Cancel