.container-fluid
  .row
    .col-md-6.col-md-offset-1
      %h4= @user.name

      %p
        Email:
        =@user.email

      %p
        Role:
        =@user.role.name

      %p
        Joined on:
        =@joined_on

      %p
        Last logged in on:
        =@last_login

      %p
        No. times logged in: 
        =@user.sign_in_count

      %p Ignites this user can manage:
      %ul
        =@user.events.map do |event|
          %li= event.name

      =link_to 'Edit', edit_user_path(@user)
      =link_to 'Delete', edit_user_path(@user)
      =link_to 'Back to Admin page', admin_path