= simple_form_for(@video, html: { class: 'form' })  do |f|
  .form-group
    =f.input :title,  input_html: { class: 'form-control' }, placeholder: "Enter the video's title"
    =f.input :url, input_html: { class: 'form-control' }, placeholder: "Enter the URL"
    =f.input :tags, input_html: { class: 'form-control' }, placeholder: "Enter the tags"
  =f.submit class: "btn btn-warning"