= simple_form_for(@video, html: { class: 'form' })  do |f|
  .form-group
    =f.input :title,  input_html: { class: 'form-control' }, placeholder: "Enter the video's title"
    =f.input :url, input_html: { class: 'form-control' }, placeholder: "Enter the URL"
    =f.input :speaker_name, input_html: { class: 'form-control' }, placeholder: "Enter the speaker's name"
    =f.input :speaker_url, input_html: { class: 'form-control' }, placeholder: "Enter the speaker's URL (eg Twitter, blog, etc)"
    =f.collection_select :event_id, Event.all.order(:name), :id, :name, prompt: "Filmed at...", required: :true
    =f.collection_check_boxes :tag_ids, Tag.all.order(:name), :id, :name
  =f.submit class: "btn btn-warning"