.row
  .col-md-8.col-md-offset-2
    %h2.center Watch Ignite videos
    %p.center
      IgniteTalks.io contains Ignite videos from around the world.
      %span.hidden-sm.hidden-xs
        -if user_signed_in?
          = link_to "Add a new video", new_video_path
        - else
          = link_to "Tell us", "https://docs.google.com/forms/d/1NrIlpRb_IvBl1zGw0LuVhipUxeVJE1r28UUglcFXYjQ/viewform", :target => "_blank"
          about a great Ignite video!
%hr

.row
  .col-xs-6.col-xs-offset-3
    %nav.navbar#video-nav
      %ul.nav.navbar-nav
        %li
          =link_to "Browse videos", videos_path
        %li
          =link_to "Watch playlists", playlists_path
        %li
          =link_to "Find videos by tags", tags_path
      