.container.top-150
  .row 
    .col-md-8.col-md-offset-2
      .panel
        %h4.left-15 Edit video
        .panel-body
          = render 'form'
  .row
    .col-md-8.col-md-offset-2
      .embed-container
        =embed(@video.url)
      %hr
        %button.btn
          = link_to "Back to video page", video_path
        %button.btn
          = link_to "Delete video", video_path(@video), method: :delete, data: {confirm: "Are you sure you want to delete this video?"}
        %button.btn
          = link_to "Back to Admin page", admin_path