.container.top-150
  .row 
    .col-md-8.col-md-offset-2
      .panel
        .panel-heading Edit video
        .panel-body
          = render 'form'
      = link_to "Cancel", video_path,  class: "btn btn-default"
      = link_to "Delete", video_path(@video), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this video?"}