.container
  .row
    .col-md-12
      %h1 Videos
      - @videos.each do |video|
        %p= link_to video.title, video
        %p= video.url
        %hr

.container
  .row
    .col-md-12
      - @tags.each do |tag|
        %button.btn.btn-default
          =link_to tag.name.titleize, videos_path(tag: tag.name)
      %button.btn.btn-default
        =link_to "Clear", videos_path