.container.top-150
  .row 
    .col-md-8.col-md-offset-2
      .panel
        .panel-body
          = render 'form'

/ Enable the YouTube retrieve button when there's a URL to test
:javascript
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $("#btnYouTubeRetrieve").addClass("disabled");
    if ($("#video_url").val() == '') {
      $(".details").hide();
    } else {
      $(".details").show();
    }
  });