#banner
  =image_tag "http://www.ignitesydney.com/wp-content/uploads/2014/04/Ignite-76031.png"

.container
  .row
    .col-md-12
      %h1 Home page
      -@videos.each do |video|
        .row
          .col-md-6
            %p= link_to video.title, video
        %hr