.container.top-150
  .row 
    .col-md-8.col-md-offset-2
      .panel
        %h1.left-15 Add a new Ignite
        .panel-body
          = render 'form'
          %hr
          %button.btn
            = link_to "Back to Admin page", admin_path