!!!
%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'content' => 'text/html'}
  %body
    %p= "Hi #{@user.name}."
    %p Welcome to IgniteTalks.io. Below are instructions for using the site.
    %br
    %h4 Admin page
    %p You can log in to the Admin page at http://IgniteTalks.io/admin
    %p= "Your passsword is #{@user.password} - once you have logged in you may change this if desired."
    %p More information to be added...