<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <h4>Draft video created at <%=link_to @object %></h4>
  </body>
</html>