<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.email %></h4>
    <p>There is a draft which requires your approval on the <a href="http://www.ignitetalks.io/admin">Ignite Talks admin page</a>.</p>
  </body>
</html>