// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i {
  color: #727272;
}

h2 button {
  display: inline-block;
  font-size: 0.5em;
  margin-left: 25px;
}

@import 'https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css';