// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i {
  color: #727272;
}

h2 button {
  display: inline-block;
  font-size: 0.5em;
  margin-left: 25px;
}

#admin_videos, #admin_upcomings {
  background-color: #e9e9e9;
}

.admin_panel {
  padding-bottom: 50px;
}


@import 'https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css';

.dataTables_info, .dataTables_paginate {
  font-size: 80%;
}