/*
 *= require_tree .
 *= require font-awesome
 *= require_self
 *= require devise_bootstrap_views
//= require leaflet
 *= require social-share-button
//= depend_on_asset "layers.png"
//= depend_on_asset "layers-2x.png"
 */
 
@import 'normalize.min.css';
@import 'bootstrap.css';

html, body {
  height: 100%;
  background-color: #ffffff;
}

body {
  /*To avoid the fixed header*/
  margin-top: 70px;
}

.container-fluid {
  margin-left: 25px;
  margin-right: 25px;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
  max-width: 100%;
  .thumb {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    min-height: 215px;
  }
}

#notice_wrapper, #alert_wrapper {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 50px;
  z-index: 999;
  background: rgba(135,216,211,0.85);
  p {
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 1.5rem 0;
  }
  span.close {
      color: #fff;
      position: absolute;
      right: 13px;
      top: 13px;
      font-weight: 100;
      font-size: 15px;
      opacity: 0.75;
  }
}

#map {
  border: 1px solid #e6e6e6;
  // width: 100%;
  height: 500px;
}

#playlist_row {
  background-color: #e9e9e9;
}

#eventsMap img {
  border-radius: 5px;
}

li {
  list-style-type: none;
}

small, .small {
  font-size: 60%;
}

.grey {
  color: #727272;
}

.user {
  margin-top: 50px;
}

.tags {
  font-size: 80%;
  color: #727272;
  a {
    color: #727272;
  }
}

.absolute {
  position: absolute;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bottom-15 {
  margin-bottom: 15px;
}

.bottom-50 {
  margin-bottom: 50px;
}

.top-5 {
  margin-top: 5px;
}

.top-15 {
  margin-top: 15px;
}

.top-25 {
  margin-top: 25px;
}

.top-50 {
  margin-top: 50px;
}

.top-100 {
  margin-top: 100px;
}

.left-15 {
  margin-left: 15px;
}

.left-35 {
  margin-left: 35px;
}

.left-40 {
  margin-left: 40px;
}

.right-5 {
  margin-right: 5px;
}

.right-15 {
  margin-right: 15px;
}

/* New/Edit panels */
.panel-body .input {
  margin-top: 15px;
  margin-bottom: 25px;
  .form-control {
    margin-bottom: 10px;
  }
  abbr[title="required"] {
    display: none;
  }
}
.collection_check_boxes {
  font-weight: normal;
}

.field_with_errors {
  input, textarea {
    border: 1px solid red;
  }
}

#btnYouTubeRetrieve {
  margin-top: 39px;
  height: 34px;
}

.tooltip-wrapper {
  display: inline-block;
}

.hint {
  font-weight: 100;
  font-size: 1.1em;
}

footer {
  margin-top: 50px;
  background-color: #000;
  padding: 50px;
  h4 {
    margin-bottom: 15px;
  }
  h1, h2, h3, h4, p {
    color: #e9e9e9;
  }
  .contact {
    margin-bottom: 20px;
  }
  .social {
    margin-left: 35px;
  }
}

.sidebar {
  max-height: 500px;
  margin-top: 55px;
  padding: 15px;
  background-color: #e9e9e9;
  border: 1px solid #727272;
  border-radius: 5px;
  overflow-x: scroll;
}

.about, .start {
  min-height: 600px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
    color: #ff0000;
}

li.current {
  background-color: #e9e9e9;
}

li a {
  color: #ff0000;
}

.promo-home {
  background-color: #000;
  background-size: cover;
  margin-top: -70px;
  min-height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 25px;
  h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #e9e9e9;
  }
  p {
    font-size: 125%;
    color: #808080;
  }
  a {
    color: #de1f26;
  }
}

.navbar {
  padding-right: 15px;
}

@media(min-width:768px) {

    .navbar {
      padding-right: 15px;
    }

  img.logo {
    margin-top: 15px;
  }
}

@media(max-width:768px) {
  .navbar-collapse {
    background-color: white;
    width: 150px;
    right: 0;
    position: absolute;
    top: 50px;
    border-left: 1px solid#e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ff0000;
}
.navbar, .navbar-default{
  background-color: #000;
  border: 0px;
  height: 50px;
}

.event {
  min-height: 500px;
}

.event_content {
  border: 1px solid #e9e9e9;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  border-radius: 5px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 0;
  margin-top: 5px;
}

.subtitle {
  font-size: 80%;
}

.paginate {
  text-align: center;
  font-size: 60%;
}

.pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #000;
  cursor: default;
  background-color: #e9e9e9;
  border-color: #dddddd;
}

/* spacing between radio buttons on the admin panel*/
.btn-group span {
  margin-right: 15px;
}

label {
  margin-left: 5px;
}

#contact_message {
  width: 100%;
  height: 150px;
  margin: 10px 0;
}

.error {
  color: red;
  font-weight: bold;
}

.video_rating_large {
  text-align: right;
  position: absolute;
  right: 18px;
  bottom: 88px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.85);
  color: #000000;
  font-size: 0.9em;
}

.video_rating_small {
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 52px;
  padding: 3px;
  background: rgba(255, 255, 255, 0.85);
  font-size: 0.8em;
  color: #000000;
  border-radius: 1px;
}

.video_rating_below {
  text-align: right;
  margin-top: -45px;
  margin-bottom: 45px;
}

#social-share-span {
  float: right;
  margin-top: -25px;
}

#stats {
  font-size: 20px;
  font-weight: 100;
  span.numscroller {
    display: block;
    font-size: 50px;
    font-weight: 300;
  }
}

@media (min-width: 768px){
  #video-nav {
    background-color: #ffffff;
    background: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }
}

#mailchimp {
  h5 {
    color: #ffffff;
  }
}

.modal-dialog {
  width: 800px;
}
