/ Generate a simple thumbnail image for use when generating playlists

%span.video_thumbnail
  / - if video.hd?
  / =image_tag  "//img.youtube.com/vi/#{video.uid}/maxresdefault.jpg", :class => "thumb", :alt => truncate(video.title, length: 20)
  / - else
  =image_tag  "//img.youtube.com/vi/#{video.uid}/hqdefault.jpg", :class => "playlistThumb", :alt => truncate(video.title, length: 20)
%p.subtitle
  = video.title
  |
  =video.speaker_name