.container.top-150
  .row 
    .col-md-8.col-md-offset-2
      .panel
        %h3.left-15 Edit playlist
        .panel-body
          = render 'form'
  .row
    .col-md-8.col-md-offset-2
      %hr
        %button.btn
          = link_to "Back to playlist page", playlist_path
        %button.btn
          = link_to "Delete playlist", playlist_path(@playlist), method: :delete, data: {confirm: "Are you sure you want to delete this playlist?"}
        %button.btn
          = link_to "Back to Admin page", admin_path