.container-fluid.top-150
  - if can? :update, @playlist
    .row.right
      .col-md-8.user
      = link_to edit_playlist_path(@playlist), class: "light btn-edit" do
        %i.fa.fa-pencil-square-o
      = link_to playlist_path(@playlist), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this playlist?"} do
        %i.fa.fa-times
  .row 
    .col-md-12.col-lg-10.col-lg-offset-1
      %h3
        = @playlist.name
      / %p.title
      /   -if not @playlist.speaker_name.blank?
      /     - if not @playlist.speaker_url.blank?
      /       by
      /       = link_to @playlist.speaker_name, @playlist.speaker_url
      /     - else
      /       = "by #{@playlist.speaker_name}"
      / %p.subtitle
      /   Filmed at
      /   = link_to @playlist.event.name, event_page_path(@playlist.event)
      / %span#social-share-span
      /   = social_share_button_tag(@playlist.title, 'data-twitter-title' => truncate(@playlist.title, :length => 50), via: "IgniteTalks")
      / .embed-container
      /   =embed(@playlist.uid)
      / .stats.right
      /   %i.fa.fa-youtube-play
      /   %span.right-15= number_with_delimiter(@playlist.views, :delimiter => ',')
      /   %i.fa.fa-thumbs-o-up
      /   %span.right-15= number_with_delimiter(@playlist.likes, :delimiter => ',')
      /   %i.fa.fa-thumbs-o-down.left-5
      /   = number_with_delimiter(@playlist.dislikes, :delimiter => ',')

    / -if not @playlist.tags.empty?
    /   .row 
    /     .col-md-8
    /       .tags.left-15
    /         %i.fa.fa-tag
    /         %span= @playlist.tags.map(&:name).join(", ").titleize

    / -if not @playlist.description.blank?
    /   .row 
    /     .col-md-10.col-md-offset-1
    /       %p.top-50.left-15= @playlist.description


          