.container
  .row
    .col-md-12.about
      %h1 About Ignite
      %p (This page will eventually be About Ignite, but for now it lists what the Ignite Global website should be)
      %hr

      %h4 Purpose of this site
      %ul
        %li to promote the Ignite brand
        %li to showcase examples of the best videos
        %li to allow people to find their nearest Ignite, including showing upcoming events
        %li to help people to set up an Ignite if they want to start one
        %ul
          %li for communities
          %li for Govt
          %li for education
          %li for training

        %li Partnership page

      %h4 Out of scope for the site:
      %ul
        %li to be a repository for every Ignite video
        %li to promote any particular city’s Ignite
        %li to host the videos (they should be on YouTube, Vimeo, etc)

      %p The site needs to be low-maintenance and largely self-supporting, without onerous demands once it’s set up. To that that end, there is no user registration (aside from administrators), no voting, no comments, no speaker bios, etc.

      %h4 Videos

      %p Only the best videos should be listed on the Global Ignite site. They will be chosen by the moderators, including from submissions by each city. New videos should be added at least once a week.

      %p The videos on the site should be uploaded and hosted by each individual city, e.g. on their own YouTube or Vimeo page, and only linked on the Global Ignite page. This way, maintenance/moderation of the videos is the responsibility of the original city.

      %p This approach will also preserve any page views/comments already existing on each video.