.container
  %h1.center About Ignite Talks
  .col-md-12
    .row
      .col-md-10.col-md-offset-1.top-50
        %h2 About Ignite Talks
        %p Ignite Talks is a fast-paced geek event started in 2006 by Brady Forrest and Bre Pettis. Since the first Ignite took place in Seattle around 10 years ago, Ignite has become an international phenomenon, with Ignite events produced in Helsinki, Tunisia, Paris, New York City and over 350 other locations in between.
        %p Ignite’s mission is “Everyone Speaks”. We believe that public speaking builds confidence in individuals and that events like Ignite build community. Our goal is to make it possible for anyone, anywhere, to learn to present their ideas and their stories.
        %p Ignite is also about having fun, and showing that presentations don’t need to be about “death by PowerPoint”.
        %p
          Use this site to
          %a{:href => events_path} find an Ignite
          near you,
          %a{:href => videos_path} watch Ignite videos
          or
          %a{:href => start_path} start a new Ignite
          in your city.
        %h2 Ignite Talks management team
        %p Ignite Talks PBC is a Public Benefits Corporation which supports Ignite globally, and is run by:
    .row.top-15
      .col-md-3.col-md-offset-1.hidden-sm.hidden-xs
        %img{:alt => "Brady", :height => "200", :src => "http://i1.wp.com/www.ignitetalks.io/images/brady.jpg", :width => "200"}/
      .col-md-6
        %h4
          %a{:href => "https://www.linkedin.com/in/bradyforrest", :target => "_blank"} Brady Forrest (Head Honcho)
        %p
          Brady co-started Ignite back in 2006; he’s part of the team currently organizing
          %a{:href => "http://www.ignitesanfrancisco.com/"} Ignite San Francisco
        %p
          He also runs
          %a{:href => "http://highway1.io/"} Highway1
          , PCH’s Hardware Incubator, and is on the lookout for the next great piece of hardware. He’s a Venture Advisor to 500 Startups and spent some time on the Investment Staff at Khosla Ventures. Formerly he was at O’Reilly and worked on a number of things including the radar blog, Web 2.0 Expo, Where 2.0, ETech, and Foo Camp.
    .row.top-25
    .row.top-25
      .col-md-3.col-md-offset-1.hidden-sm.hidden-xs
        %img{:alt => "Stephen", :height => "200", :src => "http://i0.wp.com/www.ignitetalks.io/images/stephen.jpg", :width => "200"}/
      .col-md-6
        %h4
          %a{:href => "http://www.stephenlead.com", :target => "_blank"} Stephen Lead (Head of Tech)
        %p Stephen is a software developer, specialising in geo-spatial applications including web-mapping and desktop geographic information systems tools.
        %p
          He is based in Sydney, Australia where he has run
          %a{:href => "http://www.ignitesydney.com/"} Ignite Sydney
          since 2008.
        %p Stephen is responsible for designing, building and maintaining the IgniteTalks website.