.container
  .row
    .col-md-12.about
      %h1 About Ignite
      %p
        From
        =link_to "Wikipedia", "https://en.wikipedia.org/wiki/Ignite_(event)"
        , the free encyclopedia

      %p Ignite is a style of presentation where participants are given five minutes to speak on a subject accompanied by 20 slides. Each slide is displayed for 15 seconds, and slides are automatically advanced. The first Ignite was held in 2006 in Seattle, Washington, and was sponsored by O'Reilly Media and MAKE magazine. O'Reilly has continued to support Ignite but each Ignite is independently organized on the local level. Ignite is a global phenomenon held in more than ten major metropolitan areas.

      %p Ignite is intended to be a rapid way to transmit entertaining and engaging ideas from a varied group of presenters. The format of Ignite is very similar to Pecha Kucha or lightning talks, but rather than being aimed primarily at creative industries professionals, most Ignite events have been dominated by geeks, technologists, and DIY'ers. Another key feature of Ignite is the eclecticism of the subject matter, and that they are not usually composed of dense technical information (this is generally precluded by the format).