.container
  .row
    .col-md-12.about
      %h1 About Ignite
      %p Ignite Talks is a fast-paced geek event started in 2006 by Brady Forrest and Bre Pettis. Since the first Ignite took place in Seattle around 10 years ago, Ignite has become an international phenomenon, with Ignite events produced in Helsinki, Tunisia, Paris, New York City and over 350 other locations in between.

      %p Ignite’s mission is “Everyone Speaks”. We believe that public speaking builds confidence in individuals and that events like Ignite build community. Our goal is to make it possible for anyone, anywhere, to learn to present their ideas and their stories.

      %p Ignite is also about having fun, and showing that presentations don't need to be about "death by PowerPoint".

      %p
        Use this site to
        = link_to "find an Ignite", events_path
        near you,
        = link_to "watch Ignite videos", videos_path
        or
        = link_to "start a new Ignite", start_path
        in your city.