#banner
  =image_tag "header-bg.png"

.container
  .row
    .col-md-12
      %h1 Featured Videos
      -@videos.each do |video|
        .row
          .col-md-8.col-md-offset-2
            %iframe{src: video.url, width: '100%', height: '400px'}
            %h3= link_to video.title, video
            %h4
              Filmed at
              = link_to video.event.name, video.event
            %hr

.container
  .row
    .col-md-3.center
      %h4= link_to "Browse all videos", videos_path