#banner
  =image_tag "header-bg.png"

.container
  .row
    .col-md-12
      %h1 Home page
      -@videos.each do |video|
        .row
          .col-md-6
            %p= link_to video.title, video
        %hr