.container
  .row
    .col-md-12
      %p This is placeholder content from the old site, and will be updated...
      %h2 How To Produce an Ignite Event
      %h3 Thanks for bringing Ignite to your community. Here's some information on how to get started.
      %h4 What is Ignite?
      %p Imagine that you’re in front of an audience made up of your friends, family, and people from your community, about to present a 5-minute talk on the thing you’re most passionate about. You’ve brought 20 slides, which advance every 15 seconds whether you’re ready or not. You have a few last-minute butterflies, but off you go—and the crowd loves it. Welcome to Ignite.

      %p Ignite is a fast-paced geek event started by Brady Forrest, Technology Evangelist for O'Reilly Media, and Bre Pettis of Makerbot.com, formerly of MAKE Magazine. Speakers are given 20 slides, each shown for 15 seconds, giving each speaker 5 minutes of fame. The first Ignite took place in Seattle in 2006, and since then the event has become an international phenomenon, with gatherings in Helsinki, Finland; Paris, France; New York, New York; and many other locations.

      %p Ignite has two parts: the Ignite contest, where people make things, and Ignite talks, where presenters get 20 slides and five minutes to make their point. You can opt to only have talks, but the contest is fun and can serve as a great warm-up for the talks.

      %p Below is all sorts of information that will help you get started. Once you've picked your date and venue, let us know and we'll provide you with logos and more information on setting up your blog and creating supporting materials.
  %hr
  .row
    .col-md-4
      %h4 Plan it
      %p You've decided that you want to organize an Ignite event and may be wondering what the next steps will be. Start here.
      %ul
        %li Gather a Team
        %li Find a Location
        %li Pick a Date
        %li Let Us Know
    .col-md-4
      %h4 Promote it
      %p Once you’ve gathered a team, found a location, and picked a date you’ll want to let the world–know.
      %ul
        %li Create an Account
        %li Get Ignite-in-a-Box
        %li Promote!
        %li Recruit Speakers
    .col-md-4
      %h4 Produce it
      %p If you've planned it well and you take things in stride, then the night will be easy. Have fun!
      %ul
        %li Select Speakers
        %li Prepare the Slides
        %li Setup the Venue
        %li Setup the Contest
  .row
    .col-md-4
      %h4 Broadcast it
      %p You’ll want to let the rest of the world know how much fun you had by posting video on igniteshow.com
      %ul
        %li Post Event Video
        %li Naming Conventions
        %li Screencasts
    .col-md-4
      %h4 Sponsorship
      %p If you accept local sponsorship, let them know you appreciate their contribution.
      %ul
        %li Display Local Sponsors
        %li Find a Local Charity
        %li View Demographics
    .col-md-4
      %h4 Tips and Tricks
      %p We’ve picked up a few tips & tricks along the way and thought we’d share them with you.
      %ul
        %li Handle Cancellations
        %li Video Production Tips
        %li Advice for Speakers