.container
  .row
    .col-md-12
      %h2 How to produce an Ignite event in your city
      %h3 Thanks for bringing Ignite to your community. Here's some information on how to get started.
      %p You’ve been to an Ignite event, watched Ignite Talks online. Want to start an Ignite event in your city?  Fill out the form below and we’ll get in touch with you right away to get started.

      %p Ignite’s mission is “Everyone Speaks”. We believe that public speaking builds confidence in individuals and that events like Ignite build community. Our goal is to make it possible for anyone, anywhere to learn to present their ideas and their stories.

      %p Ignite has two parts: the Ignite contest, where people make things, and Ignite talks, where presenters get 20 slides and five minutes to make their point. You can opt to only have talks, but the contest is fun and can serve as a great warm-up for the talks.

      %h4 What are Ignite Talks?

      %p Speakers are given 20 slides, each shown for 15 seconds, giving each speaker 5 minutes of fame. 
      
      %p Ignite has two parts: the Ignite contest, where people make things, and Ignite talks, where presenters get 20 slides and five minutes to make their point. You can opt to only have talks, but the contest is fun and can serve as a great warm-up for the talks.
